<!DOCTYPE html>
<html>
  <head>
    <title>duckhunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
    <%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLISHABLE_KEY']  %>
  </head>

  <body>
    <%= render "shared/header" %>
    <% flash.each do |key, value| %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= value %></strong>
      </div>
    <% end %>

    <div class="container">

      <%= yield %>
      <footer>
        <br>
        <h4>
          Created By: <%= link_to "Russel Viola", 'https://github.com/RusselViola' %>
        </h4>
        <h4>
          This site was created for demonstration purposes. No charges will be made to any accounts.
          <br>
          See 'About' page for test numbers to use with Stripe.
        </h4>
      </footer>
    </div>
  </body>
</html>
