<!DOCTYPE html>
<html>
  <head>
    <title>duckhunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= value %></strong>
      </div>
    <% end %>

    <div class="container">

      <%= yield %>
      <footer>
        <p>
          Created By Russel Viola
        </p>
      </footer>
    </div>
  </body>
</html>
