<!DOCTYPE html>
<html>
  <head>
    <title>duckhunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div class="container">

      <%= yield %>
      <footer>
        <p>
          Created By Russel Viola
        </p>
      </footer>
    </div>
  </body>
</html>
