<!DOCTYPE html>
<html>
  <head>
    <title>Duckhunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <footer>
      <p>
        Created By Russel Viola
      </p>
    </footer>
  </body>
</html>
